main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #E6CD69;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.flight-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
  color: #222;
  text-decoration: none;
}

.card a {
  text-decoration: none;
}

footer {
  background-color: #f8f9fa;
}

table td,
table th {
  text-align: center;
}